<!DOCTYPE HTML>

<html>
	<head>
		<title>Smart Thapar Hackathon</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=auto, initial-scale=1" />
		<meta name="theme-color" content="#f26522" />
		<link rel="stylesheet" href="assets/css/main.css" />
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">


		<link href='https://fonts.googleapis.com/css?family=Nova Flat' rel='stylesheet'>

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

<link rel="icon" href="images/favicon.png" type="image/png">

	</head>

<style>

	body {
		font-family: 'Nova Flat'; font-size: 17px;

		.li {
		text-transform: uppercase;

		}
	}

</style>


	<body class="landing">

		<!-- Header -->
			<header id="header" class="alt">
				<!-- <a class="smart-logo">
				<img src="images/helix-hackathon-logo.png">
			</a> -->
				<nav id="nav">
					<ul>
						<li> <a href="{{url_for('main.index')}}"> HOME </a>				</li>
<li> <a href="{{url_for('main.register')}}"> REGISTER YOUR TEAM </a>
</li>
						<li>

					</ul>
				</nav>
			</header>

			<a href="#menu" class="navPanelToggle"><span class="fa fa-bars"></span></a>

		<!-- Banner -->
			<section id="banner">

				<div class="logo-img">


			<!--	<img class="logo-img" src="images/helix-hackathon-logo.png" class="img-center"><br> -->


                 </div>

		    </section>

			<!-- One -->
				<section id="one" class="wrapper style1" style="background-color: #f26522">
					<div class="container 75%">
						<div class="row 200%">
							<div class="6u 12u$(medium)">
								<header class="major">
									<h2 style="">SMART THAPAR HACKATHON</h2>
									<p style="color: #283891">Brought to you by Creative Computing Society</p><br>
									<a href="{{url_for('main.register')}}"><button type="button" style="background-color: #283891"> Register Now ! </button></a>

								</header>
							</div>
							<div class="6u$ 12u$(medium)">
								<p>Development is more of an adrenaline rush than a mere feeling.
										Computer world today is a race between software engineers
										striving to build bigger and better, and the demand of this
										modernistic era is to explore the innovative corners along
										with building solutions that are easy-to-use.
										If you think you have an idea that you can share, then this
										is your chance to show the world your idea. So, come along
										as HELIX brings you a 24-Hour hackathon- <b>SMART THAPAR HACKATHON</b>
										brought to you by CREATIVE COMPUTING SOCIETY.<p>
										</p> Inspired from
										SMART INDIA HACKATHON(SIH), CCS brings to you a hackathon
										of this kind- <b>SMART THAPAR HACKATHON</b>,
										where teams have to conceptualize a problem statement or
										issues from different societies of Thapar, develop a
										strategy and share their masterplan. CCS has collaborated
										with different societies of Thapar to come up with a
										potential solution to their technical problems.</p>
							</div>
						</div>
					</div>
				</section>

			<!-- Two -->
				<section id="two" class="wrapper style2 special" style="background-color: lightcyan;">
					<div class="container">
						<header class="major">
							<h2>RULEBOOK</h2>
							<p style="color: #283891">Rules and regulations</p>
						</header>
						<div class="table-wrapper">
								<table class="alt">

									<tbody>
										<ol>
										<tr><td><li>Problem statements and issues from different societies of Thapar will be present on this website. So, the participants are requested to choose the problem statement of their choice beforehand.</li></td></tr>
										<tr><td><li>Participants need to come in a <b>group of 3 or 4</b> to team up against the challenge.</li></td></tr>
										<tr><td><li>Once the hackathon commences there will be mid term evaluations and participants will be guided by the judging panel.</li></td></tr>
										<tr><td><li>All the entries will be reviewed by the judging panel based on <b>design, fulfillment of the statement, user friendliness and uniqueness.</b></li></td></tr>
										<tr><td><li>Judging of entries and its acceptance of portal or app by the problem statement provider will be an independent decision.</li></td></tr>
										<tr><td><li> If the solution is accepted by the problem statement provider then the team will get a certificate regarding their project by the concerned society as well as CCS itself.</li></td></tr>
										<tr><td><li> The event will have three winning criteria:- <b> Overall Winner, Best Overall First Year team, Best all girls team. </b></li></td></tr>
									</ol>
									</tbody>

								</table>
							</div>
						</section>
					</div>
				</section>

				<section id="three" class="wrapper style5 special"  >
					<div class="container">
						<div class="row" style="align: center;" >
							<div class="col-md-4" style="color: #39b9bc">
								<i style="font-size: 3em;" class="fa fa-calendar"></i>
								<h4> 2<sup>nd</sup> and 3<sup>rd</sup> Feb</h4>
							</div>
							<div class="col-md-4" style="color: #39b9bc">
								<i style="font-size: 3em;" class="fa fa-trophy"></i>
								<h4> 3 Winning categories</h4>
							</div>
							<div class="col-md-4" style="color: #39b9bc">
								<i style="font-size: 3em;" class="fa fa-certificate"></i>
								<h4>Project Completion Certificate from problem statement provider</h4>
							</div>
						</div>
						</section>
					</div>
				</section>

			<!-- Three -->
				<section id="four" class="wrapper style1" style="background-color: lightcyan;">
					<div class="container">
						<header class="major special">
							<h2>Problem Statements</h2>
							<p style="color: #283891">By the various societies of Thapar</p>
						</header>
						<div class="feature-grid">
							<div class="feature">
								<div class="image rounded"><img src="images/rot.jpg" style="width: 150px; height: 150px" /></div>
								<div class="content">
									<header>
										<h4>ROTARACT CLUB</h4>

									</header>

<button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#myModal2">Open</button>

<!-- Modal -->
<div id="myModal2" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>

      </div>
      <div class="modal-body">
        <p>Develop a platform for people looking for blood in emergency conditions in Patiala and
    tricity region.</p>

		<p>A web or app based platform where people seeking blood can put up their requirements
    which includes blood types and place where it is required and the people whose data base is
    fed into the system are notified of the same and also people can volunteer to donate blood if
    they want to.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-info btn-sm" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>



								</div>
							</div>
							<div class="feature">
								<div class="image rounded"><img src="images/litsoc.jpg" alt="" style="width: 150px; height: 150px" /></div>
								<div class="content">
									<header>
										<h4>LitSoc</h4>

									</header>

									<button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#myModal3">Open</button>

									<!-- Modal -->
									<div id="myModal3" class="modal fade" role="dialog">
									  <div class="modal-dialog">

										<!-- Modal content-->
										<div class="modal-content">
										  <div class="modal-header">
											<button type="button" class="close" data-dismiss="modal">&times;</button>

										  </div>
										  <div class="modal-body">
											<p>(1) For LitSoc yearly magazine “Avant Garde” create a platform where interested students can submit their articles and editors can review the entries.</p>
											<p>(2) Create a Web Platform where LitSoc's subsociety can conduct online quizzes.
												Include the following functionalities:
												<ul>
													<li>Timer for every question.</li>
													<li>Dynamic Leaderboard (updates after every round).</li>
													<li>Ensure participant cannot open another tab during the quiz.</li>
												</ul>
											</p>
										  </div>
										  <div class="modal-footer">
											<button type="button" class="btn btn-info btn-sm" data-dismiss="modal">Close</button>
										  </div>
										</div>

									  </div>
									</div>




								</div>
							</div>

							<div class="feature">
								<div class="image rounded"><img src="images/toastmasters.jpg" alt="" style="width: 150px; height: 150px" /></div>
								<div class="content">
									<header>
										<h4>Toastmasters</h4>

									</header>


									<button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#myModal12">Open</button>

									<!-- Modal -->
									<div id="myModal12" class="modal fade" role="dialog">
									  <div class="modal-dialog">

										<!-- Modal content-->
										<div class="modal-content">
										  <div class="modal-header">
											<button type="button" class="close" data-dismiss="modal">&times;</button>
										  </div>
										  <div class="modal-body">
											<p>Design an Android app for Thapar Toastmasters Club with admin( passkey required) and user mode having following features
												<ul>
													<li> Dashboard to send text/multimedia message by admins.</li>
													<li> Separate options to display the names of club members and the names of executive members along with their contact</li>
													<li> Option for next meeting details having fields date, time, venue, theme and roles</li>
												</ul>
													Roles-<br>
													  Speaker 1:<br>
													  Speaker 2:<br>
													  Speaker 3:<br>
													 <ul>
													<li> Timer option having stopwatch </li>
													<li> Apply role option linking to a google form</li>
													<li> Link to FB, Instagram page of Thapar Toastmasters and link to Toastmasters International website</li>
												</ul>
												</p>
										  </div>
										  <div class="modal-footer">
											<button type="button" class="btn btn-info btn-sm" data-dismiss="modal">Close</button>
										  </div>
										</div>

									  </div>
									</div>


								</div>
							</div>

							<div class="feature">
								<div class="image rounded"><img src="images/logo.png" alt="" style="width: 150px; height: 150px" /></div>
								<div class="content">
									<header>
										<h4>Creative Computing Society</h4>

									</header>


									<button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#myModal14">Open</button>

									<!-- Modal -->
									<div id="myModal14" class="modal fade" role="dialog">
										<div class="modal-dialog">

										<!-- Modal content-->
										<div class="modal-content">
											<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal">&times;</button>
											</div>
											<div class="modal-body">
											<p>Develop a portal to host preliminary tests for annual recruitment procedure of CCS.
													<br>The portal must have two panels :-<br>
													<ol>
														<li> Student </li>
														<li> Admin </li>
													</ol>
														<br>Students must login/sign-up with a valid email address and questions should appear for the students only when they enter a passkey given to them at the time of tests. Make sure they can't open another tab or window. A timer must be shown to the students and when the time completes test should be auto submitted.

														<br>Admin should have the rights to add questions, set time of the test, see responses of every student. Also they should have the right to disqualify anyone. They should have an option to view the leaderboard after the test.</p>
											</div>
											<div class="modal-footer">
											<button type="button" class="btn btn-info btn-sm" data-dismiss="modal">Close</button>
											</div>
										</div>

										</div>
									</div>
								</div>
							</div>

							<div class="feature">
								<div class="image rounded"><img src="images/pratigya.jpg" alt="" style="width: 150px; height: 150px"/></div>
								<div class="content">
									<header>
										<h4>PRATIGYA</h4>

									</header>


									<button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#myModal4">Open</button>

									<!-- Modal -->
									<div id="myModal4" class="modal fade" role="dialog">
									  <div class="modal-dialog">

										<!-- Modal content-->
										<div class="modal-content">
										  <div class="modal-header">
											<button type="button" class="close" data-dismiss="modal">&times;</button>

										  </div>
										  <div class="modal-body">
											<p>
													The objective of this problem is to connect a village(as many people as possible) to the head of the village(sarpanch).</p>
													<p>
														<ol>
														<li>The website/app must be very simple from a user point of view.</li>
														<li>Some common problems of a village like, waste management, irrigation issues, crop burning, toilets, drainage problems etc, should be conveyed in on touch.</li>
														<li>For rest of the problems, there should be a timeline where to post(in local language).</li>
														<li>The website/app also should be connected to the nearest police station.</li>
														<li>Announcements made by sarpanch should be notified to the villagers.</li>
														<li>Website/app must contain a panic button which alarms sarpanch, police station, neighbours, and few selected people(selected by the user himself).</li>
														<li>The app/website has to be in Hindi, English, local language(Punjabi).</li>
												</ol>
											</p>
										  </div>
										  <div class="modal-footer">
											<button type="button" class="btn btn-info btn-sm" data-dismiss="modal">Close</button>
										  </div>
										</div>

									  </div>
									</div>
								</div>
							</div>



							<div class="feature">
								<div class="image rounded"><img src="images/econ.jpg" alt="" style="width: 150px; height: 150px" /></div>
								<div class="content">
									<header>
										<h4>ECON</h4>

									</header>

									<button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#myModal5">Open</button>

									<!-- Modal -->
									<div id="myModal5" class="modal fade" role="dialog">
									  <div class="modal-dialog">

										<!-- Modal content-->
										<div class="modal-content">
										  <div class="modal-header">
											<button type="button" class="close" data-dismiss="modal">&times;</button>

										  </div>
										  <div class="modal-body">
											<p>
												Built an app for live trading where teams can trade among themselves, they will need a login ID and password, they can trade among themselves but the caps are they cannot sell 30% +- the current market price. It should keep record of every transaction from which to which team.
											</p>
										  </div>
										  <div class="modal-footer">
											<button type="button" class="btn btn-info btn-sm" data-dismiss="modal">Close</button>
										  </div>
										</div>

									  </div>
									</div>




								</div>
							</div>
							<div class="feature">
								<div class="image rounded"><img src="images/hhk.jpg" alt="" style="width: 150px; height: 150px" /></div>
								<div class="content">
									<header>
										<h4>Har Hath Kalam</h4>

									</header>


									<button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#myModal6">Open</button>

									<!-- Modal -->
									<div id="myModal6" class="modal fade" role="dialog">
									  <div class="modal-dialog">

										<!-- Modal content-->
										<div class="modal-content">
										  <div class="modal-header">
											<button type="button" class="close" data-dismiss="modal">&times;</button>

										  </div>
										  <div class="modal-body">
											<p>
												<h2>(1) CHILD MONITORING SYSTEM</h2>
												<p>	Har Hath Kalam India Association requires a web portal to track the performance of all the underprivileged kids who were sent to school by the organization, which will be further integrated with the website www.harhathkalam.org. This portal will be a medium of communication between the school faculty and HHK to monitor the attendance and academic performance of the kid. The portal will have two types of users. The school faculty or authorized HHK volunteer, any one of them will upload the initial details (name, class, address, roll no. and parents’ names etc.) of the kid and the school staff will update the attendance and marks of each quarterly exam regularly. This portal will be used by more than a hundred schools and details of thousands of kids will be entered in the nearby future so the database of the portal must be designed and optimized accordingly. The viewer must be able to view the data section wise, class wise, school wise also. </p>

											<h2> (2) BEGGAR REPORTING APP </h2>

											<p>	Har Hath Kalam has an Android App which needs to be updated urgently. This is beggar reporting app where anyone can report a beggar by uploading a picture of a beggar on the App and the necessary details which are further accessible by the HHK representative who takes care of the follow up of the case. However, a lot of features need to be added. The Admin accessible features must be added according to needs. The App must be able to send a notification to the case reporter or all the donors after a successful follow up of a case. An authentic pledge counter must be included where people can pledge to not give alms to anyone. An interactive GUI must be created simultaneously. It must include an easy to use the feature where HHK representatives can upload news and events regularly on the App. The link to App is : https://play.google.com/store/apps/details?id=com.harhathkalam.hhk.kalam
											</p>


											</p>
										  </div>
										  <div class="modal-footer">
											<button type="button" class="btn btn-info btn-sm" data-dismiss="modal">Close</button>
										  </div>
										</div>

									  </div>
									</div>





								</div>
							</div>








							<div class="feature">
								<div class="image rounded"><img src="images/edc.jpg" alt="" style="width: 150px; height: 150px" /></div>
								<div class="content">
									<header>
										<h4>Entrepreneurship Development Cell</h4>

									</header>


									<button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#myModal7">Open</button>

<!-- Modal -->
<div id="myModal7" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>

      </div>
      <div class="modal-body">
        <p>Design a login portal for an event (say event 1) and give rights to admin for further proceedings so that he or she can proceed further, After this, design a dashboard for registrations purpose and a button to upload documents on google drive followed by sub events.
					For user:<br>
					Take name, password, email id, phone number, roll number, branch, year
					and provide a link to admin in the dashboard for further event registrations.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-info btn-sm" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>




								</div>
							</div>


<div class="feature">
								<div class="image rounded"><img src="images/enactus1.jpg" alt="" style="width: 150px; height: 150px" /></div>
								<div class="content">
									<header>
										<h4>ENACTUS</h4>

									</header>


									<button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#myModal8">Open</button>

									<!-- Modal -->
									<div id="myModal8" class="modal fade" role="dialog">
									  <div class="modal-dialog">

										<!-- Modal content-->
										<div class="modal-content">
										  <div class="modal-header">
											<button type="button" class="close" data-dismiss="modal">&times;</button>

										  </div>
										  <div class="modal-body">
											<p>An organisation, “Enactus Thapar” goals upon the use of innovation and business principles to improve the world. Create a website which must include:</p>
											<p>
												<ol>
										  <li> Minimally designed, yet visually apealing Homepage containing:
												<ul>
										<li> Highlights of the events conducted in the form of text/description/Pictures/Videos. </li>
										 <li> Little information about what Enactus is and what it does. </li>
										 <li> Short description of the projects done. </li>
									</ul>
								</li><br>
										   <li> Separate pages giving detailed description about:
												 <ul>
										<li> Goals and motives of Enactus Thapar.</li>
										<li> All the projects conducted till date.</li>
										<li> Events organised.</li>
										<li> Contact Information.</li>
									</ul>
								</li><br>
										    <li> A portal for members to login with the sections containing:
													<ul>
										<li> Discussions and conclusions outlined in meetings.</li>
										<li> Personal details and contribution of the member who has logged in.</li>
										<li> Tasks assigned to the member for upcoming events, etc.</li>
									</ul>
								</li><br>
										   <li> A portal for participants to register for events where the participant is able to find out everything about the event.</li><br>
										  <li> There should be an integration of Facebook, Twitter and Instagram handle to
										display images and posts into the website.
										Refer to sites.google.com/view/enactus-thapar</li>
									</ol>
									</p>
										  </div>
										  <div class="modal-footer">
											<button type="button" class="btn btn-info btn-sm" data-dismiss="modal">Close</button>
										  </div>
										</div>

									  </div>
									</div>





								</div>
							</div>


							<div class="feature">
								<div class="image rounded"><img src="images/somie.jpg" alt="" style="width: 150px; height: 150px" /></div>
								<div class="content">
									<header>
										<h4>SOMIE</h4>

									</header>


									<button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#myModal9">Open</button>

									<!-- Modal -->
									<div id="myModal9" class="modal fade" role="dialog">
									  <div class="modal-dialog">

										<!-- Modal content-->
										<div class="modal-content">
										  <div class="modal-header">
											<button type="button" class="close" data-dismiss="modal">&times;</button>
										  </div>
										  <div class="modal-body">
											<p>Construct an application/interface which will automate the calculations of problems relating to a stream table. The application will hold all the values from the steam table and the necessary formulae required for the calculations. The application should also be able to construct b graphs wherever required, according to the need of the problem to be solved.</p>
										  </div>
										  <div class="modal-footer">
											<button type="button" class="btn btn-info btn-sm" data-dismiss="modal">Close</button>
										  </div>
										</div>

									  </div>
									</div>





								</div>
							</div>




							<div class="feature">
								<div class="image rounded"><img src="images/nox.jpg" alt="" style="width: 150px; height: 150px" /></div>
								<div class="content">
									<header>
										<h4>NOX Dance Society</h4>

									</header>


									<button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#myModal10">Open</button>

									<!-- Modal -->
									<div id="myModal10" class="modal fade" role="dialog">
									  <div class="modal-dialog">

										<!-- Modal content-->
										<div class="modal-content">
										  <div class="modal-header">
											<button type="button" class="close" data-dismiss="modal">&times;</button>
										  </div>
										  <div class="modal-body">
											<p>Design a website having a home page, which will have link to "Gallery", "Members" ,"Log in/Sign Up", "About Us", "Contact Us" .<br>
												The NOXians should be able to create their accounts on page, which after the validation from the admin will be stored in "Members" section.<br>
												In the Contact US  section, when someone clicks on the email id of NOX, a new tab with gmail opens up, similarly when clicked on facebook option, fb page of NOX opens up, insta and youtube as well.<br>
												Admin should be able to upload the photographs, as well as videos in the gallery section.<br>
												If wanted, an "upcoming" rolling text could be enabled to display the latest news.The members details should be a database for storing the details of NOXians, their batch, their pic, their current mobile no., their workplace, their address, email id, branch etc.</p>
										  </div>
										  <div class="modal-footer">
											<button type="button" class="btn btn-info btn-sm" data-dismiss="modal">Close</button>
										  </div>
										</div>

									  </div>
									</div>





								</div>
							</div>



							<div class="feature">
								<div class="image rounded"><img src="images/astro.jpg" alt="" style="width: 150px; height: 150px" /></div>
								<div class="content">
									<header>
										<h4>
											Thapar Amateur Astronomers Society (TAAS)
										</h4>

									</header>


									<button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#myModal11">Open</button>

									<!-- Modal -->
									<div id="myModal11" class="modal fade" role="dialog">
									  <div class="modal-dialog">

										<!-- Modal content-->
										<div class="modal-content">
										  <div class="modal-header">
											<button type="button" class="close" data-dismiss="modal">&times;</button>
										  </div>
										  <div class="modal-body">
											<p>
												Thapar Amateur Astronomers Society (TAAS) is a student society in TIET, Patiala. It needs an app to check the management and functioning of society.
												The app must have following features:<ol>
												<li> Every society member will be able to use app using a login ID and password.</li>
												<li> There must be an admin who shall be able to add/remove members for having an access to the app. Admin can also add other Admin to the app. There can be multiple Admins.</li>
												<li> Admin and other members will have different levels of accessibility to app.</li>
											</ol>
											</p>
											<p>
											Following tabs shall be required in the app.
											<ol>
											<li> Attendance:
											- Accessibility:<br>
											• Members will be able to check their own attendance only. If doubtful, they can raise an enquiry which will notify admin about same.<br>
											• Admin will be able to edit attendance in terms of<br>
											    - Adding a date of attendance.<br>
											    - Editing the by default 'Absent' field to 'Present' or 'Leave' by his own discretion.<br> </li>
											<li> Event and Duties:<br>
											• This will contain Bullet points for each Event with the event date displayed with it.<br>
											• Each event bullet will contain sub-bullets for smaller parts of the event.<br>
											• Each sub-bullet will be having further to-do task list with a member assigned for who will be doing each task. Only the particular member who is assigned task (+ Admin) can edit the status of task from Undone/Done.<br>
											• Each task will have a Last Date. App will set reminder for each member according to their task and will send notifications to member and admins.<br>
											• While changing the task's status to 'Done', person will need to upload a text/picture/document for verification.<br>
											• If Done in time, Task's name will change colour to green, and Red otherwise.<br>
											• On Admin's discretion, Event will be rendered completed, after which, no edits can be done in it by anyone except if it's opened again for edits.<br>
											• Accessibility:<br>
											 - Admin: Add/Remove/Edit Event, Dates, Sub-events, Tasks, assigned members, last date etc.<br>
											- Member: See all the events, sub-event, tasks, able to edit task status they were assigned.<br>
											Raise query/question about event/sub-event/task/date etc, which will send notification to admins.<br> </li>
											<li> Documents/Links etc.<br>
											• Events in bullet points like in 2nd Tab<br>
											• Whenever event is created by admin, under this section, following sub-bullets will be created by default namely<br>
											- Proposal<br>
											- Indent<br>
											- Report<br>
											- Forwarding Memo<br>
											- Recredit application<br>
											- Bills<br>
											- Bookings<br>
											- Permissions<br>
											- Events Pictures<br>


											- Always compulsory to fill before declaring event complete<br>
											- If one is compulsory, all others are compulsory.<br>
											 - Only compulsory if specified while creating event.<br>
											• Each of the sub-bullet will contain relevant documents in them, in form of pictures/documents/excel/link etc.<br>
											• Accessibility<br>
											- Admins can edit/add/remove documents in all categories and change the compulsion status, if required.<br>
											- Members can view all the documents except Indent/Forwarding Memo.<br></li>
											<li> Personal Score:<br>
											This will have 3 bullets.<br>
											1. Your Karma<br>
											2. Self-effort notification<br>
											3. Bonus<br>
											• Each member can view their personal score in 1st bullet which will be decided according to:<br>
											Attendance (Present)5 + Absent-5 +Leave*0 + Task Completed on time*15 + Task completed with delay*5 + Task not completed* -10 + Self-effort points (as given by admin) + Bonus Points<br>
											• Self-effort Notification:<br>
											Members can send a notification to admins about something which they did except their assigned task ( in form of text/picture). Admin will check and approve that how much points member deserves from this.<br>
											• Bonus:<br>
											Admin's, on their discretion can allot bonus points to members.<br></li>
											<li> Your Account:<br>
											- Like General apps, members can edit their own information, display picture etc.<br></li>
										</ol>
											</p>
										  </div>
										  <div class="modal-footer">
											<button type="button" class="btn btn-info btn-sm" data-dismiss="modal">Close</button>
										  </div>
										</div>

									  </div>
									</div>





								</div>
							</div>


													<div class="feature">
								<div class="image rounded"><img src="images/oorja.jpg" alt="" style="width: 150px; height: 150px" /></div>
								<div class="content">
									<header>
										<h4>Team Oorja</h4>

									</header>


									<button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#myModal13">Open</button>

									<!-- Modal -->
									<div id="myModal13" class="modal fade" role="dialog">
									  <div class="modal-dialog">

										<!-- Modal content-->
										<div class="modal-content">
										  <div class="modal-header">
											<button type="button" class="close" data-dismiss="modal">&times;</button>
										  </div>
										  <div class="modal-body">
											<p>
												<br>1). The team requires a website to give a overview of the team.
												<br>2). The viewer must be given an option to post questions on the page.
												<br>3). Login options for members and multiple admins.
												<br>4). Option to upload news , upcoming events
												<br>5). Gallery tab for photos and videos.
												<br>6). Contact us tab.
												<br>7). Option to fill forms online by team members for internal data accessible  only by admins
												<br>8). Separate tab for recruitments and an option for aspiring recruits to fill the recruitment forms online.
											</p>
										  </div>
										  <div class="modal-footer">
											<button type="button" class="btn btn-info btn-sm" data-dismiss="modal">Close</button>
										  </div>
										</div>

									  </div>
									</div>


								</div>
							</div>

							<div class="feature">
								<div class="image rounded"><img src="images/iete.png" alt="" style="width: 150px; height: 150px" /></div>
								<div class="content">
									<header>
										<h4>The Institution of Electronics and Telecommunications Engineers (IETE)</h4>

									</header>


									<button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#myModal15">Open</button>

									<!-- Modal -->
									<div id="myModal15" class="modal fade" role="dialog">
									  <div class="modal-dialog">

										<!-- Modal content-->
										<div class="modal-content">
										  <div class="modal-header">
											<button type="button" class="close" data-dismiss="modal">&times;</button>
										  </div>
										  <div class="modal-body">
												<p>
													Design a login portal for an event and give rights to
													admin for further proceedings so that he or she can
													proceed further. As soon as a team attempts a problem,
													the question will be unavailable for the other teams
													to attempt. Make sure the students can't open a new
													tab or a window. A timer must be shown to the students
													and when the time completes test should be auto-submitted.</p>
													<p>
														<ul>
															<li>
																<b>For students:</b> The platform must have a login portal for each team and the questions would be displayed only after entering the correct login credentials. They should have a compiler(C++, Java, Python) on the same platform which should evaluate all the necessary test cases and display the live scores. </li>
																<li><b>For admin:</b> Admin should have the rights to add questions, set time of the test, see responses of every team. Also, they should have the right to disqualify anyone. They should have an option to view the leaderboard after the test.</li>
															</ul>
															
												</p>
										  </div>
										  <div class="modal-footer">
											<button type="button" class="btn btn-info btn-sm" data-dismiss="modal">Close</button>
										  </div>
										</div>

									  </div>
									</div>
								</div>
							</div>





						</div>
					</div>
				</section>

			<!-- Four -->
				<section id="four" class="wrapper style3 special">
					<div class="container">
						<header class="major">
							<h2>Any Doubts or Queries ?</h2>
							<p>Don't worry, we got you !</p>
						</header>




						<a style="font-size: 3em; color: #39b9bc ;" href="https://m.me/CCSTU" target="_blank" class="fab fa-facebook-messenger"></a>
						&nbsp;&nbsp;&nbsp;&nbsp;
						<a style="font-size: 3em;color: #39b9bc ;" href="mailto:rvirmani9@gmail.com" class="icon fa-envelope"></a> &nbsp;&nbsp;&nbsp;&nbsp;

						<a style="font-size: 3em;color: #39b9bc ;" href="https://www.facebook.com/CCSTU/" class="icon fa-facebook"></a>&nbsp;&nbsp;&nbsp;&nbsp;

						<a style="font-size: 3em;color: #39b9bc ;" href="http://www.ccstiet.com" class="icon fa-globe"></a>

						<br><br>




						<br>

						<ul class="copyright">
						<a style="color: #39b9bc ;">&copy; Creative Computing Society</a>
					</ul>

					</div>
				</section>



		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>
