<!DOCTYPE HTML>

<html>
	<head>
		<title>STH Registration</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=auto, initial-scale=1" />
		<meta name="theme-color" content="#f26522" />
		<link rel="stylesheet" href="assets/css/main.css" />
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
		<link href='https://fonts.googleapis.com/css?family=Nova Flat' rel='stylesheet'>

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<script src='https://www.google.com/recaptcha/api.js'></script>
<link rel="icon" href="images/favicon.png" type="image/png">

	</head>
	<style>

	body {
		font-family: 'Nova Flat'; font-size: 17px;
		text-transform: uppercase;
		.
	}
</style>
	<body class="landing">

		<header id="header" class="alt">
				<nav id="nav">
					<ul>
						<li> <a href="{{url_for('main.index')}}"> HOME </a>				</li>
</li>
						<li>
					</ul>
				</nav>
			</header>

			<a href="#menu" class="navPanelToggle"><span class="fa fa-bars"></span></a>

		<!-- Banner -->
			<section id="banner">
				<div class="logo-img">
                 </div>
		    </section>



<section id="two" class="wrapper style2 special" style="background-color: lightcyan">
					<div class="container">
						<header class="major" style="color: #333">

							<p style="color: #333">Please fill all details correctly. Corrections will not be possible.</p>
							<br>
							<p style="color: #333">Dates for the Smart Thapar Hackathon are February 2-3, 2019</p>
							<br>
							<p style="color: #333">There is NO registraion or participation fee.</p>
						</header>

						<form method="post" action="">
						<div class="table-wrapper">
						<div class="text-left col-md-6">
							<label class="text-left">Team Name</label>
							<input type="text" placeholder="Team Name" name="team_name" required>
							<br>
						</div>
								<table>
									<thead>
										<tr>
											<th>Member Name</th>
											<th>Roll Number</th>
											<th>Year of Study</th>
										</tr>
									</thead>
									<tbody>
										{% for i in range(1,5) %}
										<tr>
											<td> <input type="text" placeholder="Member {{i}}" name="name{{i}}" {% if loop.index != 4 %}required{% endif %}><br> </td>
											<td><input type="text" placeholder="Roll Number" name="roll{{i}}" {% if loop.index != 4 %}required{% endif %}></td>
											<td>
											<select name="year{{i}}" {% if loop.index != 4 %}required{% endif %}>
											<option value="">Select Year</option>
											<option value="1">1st</option>
											<option value="2">2nd</option>
											<option value="3">3rd</option>
											<option value="4">4th</option>
											</select>
											</td>

										</tr>
										{% endfor %}

									</tbody>

								</table>
									<div class="g-recaptcha" data-sitekey="6Le8-XUUAAAAAFkd_ONhMtW3v0GzZHQDiAyFQufh"></div>
								<button type="submit" class="btn btn-info btn-sm">Submit</button>
							</div>
							</div>
						</form>

						</section>
					</div>
				</section>





		<section id="four" class="wrapper style3 special">

			<div class="container">
						<div class="row" style="align: center;" >
							<div class="col-md-4" style="color: #39b9bc">
								<i style="font-size: 3em;" class="fa fa-calendar"></i>
								<h4> 2<sup>nd</sup> and 3<sup>rd</sup> Feb</h4>
							</div>
							<div class="col-md-4" style="color: #39b9bc">
								<i style="font-size: 3em;" class="fa fa-trophy"></i>
								<h4> 3 Winning categories</h4>
							</div>
							<div class="col-md-4" style="color: #39b9bc">
								<i style="font-size: 3em;" class="fa fa-certificate"></i>
								<h4>Project Completion Certificate from problem statement provider</h4>
							</div>
						</div>
						</section>
					</div>
					<div class="container">





						<a style="font-size: 3em; color: #39b9bc ;" href="https://m.me/CCSTU" target="_blank" class="fab fa-facebook-messenger"></a>
						&nbsp;&nbsp;&nbsp;&nbsp;
						<a style="font-size: 3em;color: #39b9bc ;" href="mailto:rvirmani9@gmail.com" class="icon fa-envelope"></a> &nbsp;&nbsp;&nbsp;&nbsp;

						<a style="font-size: 3em;color: #39b9bc ;" href="https://www.facebook.com/CCSTU/" class="icon fa-facebook"></a>&nbsp;&nbsp;&nbsp;&nbsp;

						<a style="font-size: 3em;color: #39b9bc ;" href="http://www.ccstiet.com" class="icon fa-globe"></a>

						<br><br><br>

						<ul class="copyright">
						<a style="color: #39b9bc ;">&copy; Creative Computing Society</a>
					</ul>

					</div>
				</section>


		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>
			<script src="assets/js/bootstrap-notify.js"></script>
			<script type="text/javascript">
					{% with messages = get_flashed_messages(with_categories=true) %}
				{% if messages %}
					function flashMessages() {
						{% for category, message in messages %}
						$.notify({
							icon: "ti-bell",
							message: '{{ message }}'
						},{
							type: '{{ category }}',
							timer: 4000,
							placement: {
								from: "top",
								align: "center"
						}
						});
						{% endfor %}
					}
							window.onload = flashMessages;
							{% endif %}
					{% endwith %}
			</script>


	</body>
</html>
